<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <base href="/p/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} Pre-inscription{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet">
        <link href="{{asset('css/animate.css')}}" rel="stylesheet">
        <link href="{{asset('css/style.css')}}" rel="stylesheet">
        <link href="{{asset('angular/css/angular-confirm.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.css">
        <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon/favicon.ico') }}" />

    {% endblock %}

</head>

<body class="top-navigation">

<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <a href="." class="navbar-brand">Très d'Union</a>
                </div>
            </nav>
        </div>

        {% if app.session.flashbag.peekAll|length > 0 %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="col-md-4 col-md-offset-4">
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-top:20px;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {#% block content %}
        {% endblock %#}
        
        <p class="text-center" ng-hide="dataLoaded" style="font-size:40px;margin-top:40px;">
          Chargement<br />
          <i class="fa fa-spinner fa-spin"></i>
        </p>
        <div ng-show="dataLoaded" ng-view></div>
        
        <div class="footer">
            <div class="pull-right">
                Dahbi Jordan | Ung Willy | Bijou Samuel
            </div>
            <div>
                <strong>Copyright</strong> Très d'Union &copy; 2018
            </div>
        </div>

    </div>
</div>

{% block javascripts %}
    <!-- Mainly scripts -->
    <script src="{{asset('js/jquery-2.1.1.js')}}"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/plugins/metisMenu/jquery.metisMenu.js')}}"></script>
    <script src="{{asset('js/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>
    <script src="{{asset('js/plugins/validate/jquery.validate.min.js')}}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{asset('js/inspinia.js')}}"></script>
    <script src="{{asset('js/plugins/pace/pace.min.js')}}"></script>

    <!-- Main Angular scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

    <script src="{{asset('angular/plugins/angular-route.js')}}"></script>
    <script src="{{asset('angular/plugins/ui-bootstrap.min.js')}}"></script>
    <script src="{{asset('angular/plugins/angular-animate.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.tpls.js"></script>
    <script src="{{asset('angular/plugins/angular-button-spinner.min.js')}}"></script>
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    <script src="{{asset('angular/plugins/angular-confirm.min.js')}}"></script>
    <script src="{{asset('angular/plugins/moment.js')}}"></script>
    <script src="{{asset('angular/plugins/angular-moment.min.js')}}"></script>
    <script src="{{asset('angular/plugins/d3.js')}}"></script>
    <script src="{{asset('angular/plugins/nv.d3.js')}}"></script>
    <script src="{{asset('angular/plugins/angular-nvd3.min.js')}}"></script>

    <script src="{{asset('angular/app.js')}}"></script>
    <script src="{{asset('angular/public/routing.js')}}"></script>
    <script src="{{asset('angular/public/controllers/homeController.js')}}"></script>
    <script src="{{asset('angular/public/controllers/inscriptionController.js')}}"></script>

    <script>
        myApp.factory('Api', [
            '$http',
            function ($http) {

                function postEleve(eleve) {
                    return $http.post("{{path('add_eleve_public')}}", eleve);
                }

                function getEtablissements() {
                    url = "{{path('get_etablissements_public')}}"
                    return $http({
                        url : url,
                        method: "GET",
                    });
                }

                function getNiveauxScolaires() {
                    url = "{{path('get_niveaux_scolaires_public')}}"
                    return $http({
                        url : url,
                        method: "GET",
                    });
                }

                function getAllEvenements() {
                    return $http({
                        url : "{{path('get_evenements_public')}}",
                        method: "GET"
                    });
                }

                function getEvenement(evenementId) {
                    var url = "{{path('get_evenement_public', {'evenementId' : 'evenementId'} )}}";
                    url = url.replace('evenementId', evenementId);
                    return $http({
                        url : url,
                        method: "GET"
                    });
                }

                return {
                    postEleve: postEleve,
                    getEtablissements: getEtablissements,
                    getAllEvenements: getAllEvenements,
                    getEvenement: getEvenement,
                    getNiveauxScolaires: getNiveauxScolaires
                }

            }
        ]);

    </script>

{% endblock %}


</body>

</html>
