{% extends "UserBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
  | Mot de Passe Oublié
{% endblock %}

{% block stylesheets %}
  {{parent()}}

{% endblock %}

{% block content %}
  <div>

    {% trans_default_domain 'FOSUserBundle' %}

    {% if error is defined %}
      {% if error %}
      <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:10px;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="sr-only">Error:</span>
        {{ error.messageKey|trans(error.messageData, 'security') }}
      </div>
      {% endif %}
    {% endif %}

    {% block fos_user_content %}
    <div style="margin-top:10px;" class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Un email a été envoyé</h3>
      </div>
      <div class="panel-body">
        Il contient un lien sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe. Remarque : Vous ne pouvez demander un nouveau mot de passe que toutes les {{tokenLifetime}} heures.
        <br/>
        Si vous ne recevez pas un email, vérifiez votre dossier spam ou essayez à nouveau.
        <br/><br/>
        <a href="{{path('fos_user_security_login')}}"><small>Retour à la page de connexion</a>
      </div>
    </div>
    {% endblock %}


  </div>
{% endblock %}

{% block javascripts %}
  {{ parent()}}

{% endblock %}
