{% extends "UserBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
  | Mot de Passe Oublié
{% endblock %}

{% block stylesheets %}
  {{parent()}}
  <style>
  .logo{
    margin-top:20px;
  }
  </style>

{% endblock %}

{% block content %}
  <div>

      {% if error is defined %}
        {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:10px;">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="sr-only">Error:</span>
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}
      {% endif %}

      <div class="row" style="margin-top:20px;">
          <div class="col-md-12">
              <div class="ibox-content">
                  <h2 class="font-bold">Mot de Passe Oublié</h2>
                  <p>
                      Un mail vous sera envoyé afin de réinitialiser votre mot de passe
                  </p>
                  <div class="row">
                      <div class="col-lg-12">
                          <form id="form-passoublie" class="m-t" role="form" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                              <div class="form-group">
                                  <input class="form-control" type="text" id="username" name="username" required="required" placeholder="Adresse Email"/>
                              </div>
                              <button type="submit" class="btn btn-primary block full-width m-b" value="{{ 'resetting.request.submit'|trans }}">Envoyer</button>
                          </form>
                          <a href="{{path('fos_user_security_login')}}"><small>Retour à la page de connexion</a>
                          <!-- <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                            <div>
                                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                                <input type="text" id="username" name="username" required="required" />
                            </div>
                            <div>
                                <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                            </div>
                        </form> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>



  </div>
{% endblock %}

{% block javascripts %}
  {{ parent()}}
  <script src="{{asset('js/plugins/validate/jquery.validate.min.js')}}"></script>
  <script>
    $( document ).ready(function() {
      console.log( "ready!" );
      $('#form-passoublie').validate({
        rules: {
          username: {
            required: true,
            email: true
          }
        },
        messages: {
          username: {
            required: "Entrez un email",
            email: "Vérifiez le format de l'email (name@domain.com)"
          }
        }
      });
    });
  </script>

{% endblock %}
