{% extends "UserBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
  | Mot de Passe Oublié
{% endblock %}

{% block stylesheets %}
  {{parent()}}
  <style>
  .logo{
    margin-top:40px;
  }
  </style>

{% endblock %}

{% block content %}
  <div>

    {% trans_default_domain 'FOSUserBundle' %}

    {% if error is defined %}
      {% if error %}
      <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:10px;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="sr-only">Error:</span>
        {{ error.messageKey|trans(error.messageData, 'security') }}
      </div>
      {% endif %}
    {% endif %}

    {% trans_default_domain 'FOSUserBundle' %}


    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset','style':'margin-top:20px;', 'id':'form-passreset' } }) }}
    <div class="form-group">
        {{form_widget(form.plainPassword.first,{'attr':{'class':'form-control','placeholder':'Nouveau Mot de Passe'}})}}
        {{ form_errors(form.plainPassword.first) }}
    </div>
    <div class="form-group">
        {{form_widget(form.plainPassword.second,{'attr':{ 'class':'form-control','placeholder':'Confirmer votre nouveau mot de passe'}})}}
        {{ form_errors(form.plainPassword.second) }}
    </div>
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary block full-width m-b">Valider</button>
    {{ form_end(form) }}


  </div>
{% endblock %}

{% block javascripts %}
  {{ parent()}}
  <script src="{{asset('js/plugins/validate/jquery.validate.min.js')}}"></script>
  <script>
    $( document ).ready(function() {
      console.log( "ready!" );
      $('#form-passreset').validate({
        rules: {
          "fos_user_resetting_form[plainPassword][first]": {
            required: true,
            minlength: 6
          },
          "fos_user_resetting_form[plainPassword][second]": {
            equalTo : "#fos_user_resetting_form_plainPassword_first",
            required: true,
            minlength: 6
          }
        },
        messages: {
          "fos_user_resetting_form[plainPassword][first]": {
            required: "Mot de passe requis",
            minlength: "Le mot de passe doit contenir 6 caractères minimum"
          },
          "fos_user_resetting_form[plainPassword][second]": {
            equalTo: "Les mots de passe ne correspondent pas",
            required: "Mot de passe requis",
            minlength: "Le mot de passe doit contenir 6 caractères minimum"
          }
        }
      });
    });
  </script>

{% endblock %}
