<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
      <div class="col-lg-12">

          <div class="ibox float-e-margins">
              <div class="ibox-content" uib-collapse="isCollapsed" style="text-align: center;">
                <div style="margin-bottom: 35px">
                  <h5 style="font-weight: bold;font-size:25px;;">Liste des évènements</h5>
                  <small>Cliquez sur un évènement pour accéder à la page d'inscription</small>
                </div>
                <div>
                  <div ng-repeat="evenement in evenements | orderBy:getStatutEvenement">
                    <div style="margin-top:10px;">
                      <span ng-if="getStatutEvenement(evenement) == 1" class="label label-warning">a venir</span>
                      <span ng-if="getStatutEvenement(evenement) == 2" class="label label-success">en cours</span>
                      <span ng-if="getStatutEvenement(evenement) == 3" class="label label-danger">termine</span>
                      <a href="inscription/[[ evenement.id ]]" ng-if="getStatutEvenement(evenement) == 2 || getStatutEvenement(evenement) == 1">[[ evenement.libelle ]] ( du [[ evenement.date_debut | date:'dd/MM/yyyy' ]] au [[ evenement.date_fin | date:'dd/MM/yyyy' ]] )</a>
                      <span ng-if="getStatutEvenement(evenement) == 3">[[ evenement.libelle ]] ( du [[ evenement.date_debut | date:'dd/MM/yyyy' ]] au [[ evenement.date_fin | date:'dd/MM/yyyy' ]] )</span>
                    </div>
                  </div>
                </div>
              </div>
          </div>

      </div>
    </div>
</div>