<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5 ng-if="titre">[[ titre ]]</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                          <i class="fa fa-chevron-up"></i>
                      </a>

                  </div>
              </div>
              <div class="ibox-content" uib-collapse="isCollapsed">
                <div ng-if="getStatutEvenement(evenement) != 3">
                  <form id="form-add-eleve" class="form-horizontal" name="myForm" j-validate>

                      <fieldset style="padding: .35em .625em .75em;margin: 0 2px;border: 1px solid silver;">
                        <legend style="padding: 0;margin-bottom: 20px;font-size: 21px;color: #333;border: 0;width:initial;">Informations personnelles</legend>
                        <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="col-sm-3 control-label">Nom*</label>
                                <div class="col-sm-9">
                                  <input class="form-control" name="nom" type="text" required="required" ng-model="eleve.nom"/>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-sm-3 control-label">Prenom*</label>
                                <div class="col-sm-9">
                                  <input type="text" id="prenom" name="prenom" required="required" class="form-control" ng-model="eleve.prenom">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-sm-3 control-label">Date de Naissance*</label>
                                <div class="col-sm-9">
                                  <input class="form-control" name="nom" type="date" required="required" ng-model="eleve.dateNaissance"/>
                                </div>
                              </div>
                            </div>

                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="col-sm-3 control-label">Sexe*</label>
                                <div class="col-sm-9">
                                  <select required="required" class="form-control" name="sexe" ng-model="eleve.sexe">
                                    <option value="homme">Homme</option>
                                    <option value="femme">Femme</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-sm-3 control-label">Téléphone de l'enfant</label>
                                <div class="col-sm-9">
                                  <input type="text" id="prenom" name="prenom" required="required" class="form-control" ng-model="eleve.telephone">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-sm-3 control-label">E-mail de l'enfant</label>
                                <div class="col-sm-9">
                                  <input type="text" id="prenom" name="prenom" required="required" class="form-control" ng-model="eleve.mail">
                                </div>
                              </div>
                            </div>
                        </div>
                      </fieldset>

                      <fieldset style="padding: .35em .625em .75em;margin: 0 2px;border: 1px solid silver;margin-top: 10px;">
                        <legend style="padding: 0;margin-bottom: 20px;font-size: 21px;color: #333;border: 0;width:initial;">Scolarité</legend>
                        <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="col-sm-3 control-label">Etablissement*</label>
                                <div class="col-sm-9">
                                  <select class="form-control" ng-options="etablissement as etablissement.label for etablissement in etablissements track by etablissement.id" ng-model="inscription.etablissement">
                                    <option value="">Veuillez choisir</option> 
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="col-sm-3 control-label">Niveau scolaire*</label>
                                <div class="col-sm-9">
                                  <select class="form-control" ng-options="niveauScolaire as niveauScolaire.nom for niveauScolaire in niveauxScolaires track by niveauScolaire.id" ng-model="inscription.niveauScolaire">
                                    <option value="">Veuillez choisir</option> 
                                  </select>
                                </div>
                              </div>
                            </div>
                        </div>
                      </fieldset>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <input class="btn btn-white" type="button" ng-click="reset(eleve.id)" value="Effacer les champs" style="width: 45%;"/>
                            <button button-spinner="loading" ng-disabled="loading" spinning-icon="fa fa-circle-o-notch fa-spin" data-style="expand-right" class="btn btn-primary" type="submit" ng-click="add(eleve)" style="width: 45%;">Sauvegarder</button>
                        </div>
                    </div>

                  </form>
                </div>

                <div ng-if="getStatutEvenement(evenement) == 3" style="text-align: center;">
                  <div class="alert alert-danger">Cet évènement est terminé.<br><a href=".">Retour à l'accueil</a></div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>