<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5 ng-if="titre">[[ titre ]]</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                          <i class="fa fa-chevron-up"></i>
                      </a>

                  </div>
              </div>
              <div class="ibox-content" uib-collapse="isCollapsed">

                <form id="form-add-donnee" class="form-horizontal" name="myForm" j-validate>
                    <div class="row">
                      <div class="col-sm-2">
                        <button class="btn btn-danger" ng-if="donnees.length > 1" ng-click="removeDonnee($index)">-</button>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Nom*</label>
                          <div class="col-sm-10">
                            <input class="form-control" name="nom" type="text" required="required" ng-model="donnee.nom"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <div ng-if="type == 1">
                            <label class="col-sm-3 control-label">Niveau*</label>
                              <div class="col-sm-9">
                                <select required="required" class="form-control" name="niveau" ng-model="donnee.type">
                                  <option value="college">Collège</option>
                                  <option value="lycee">Lycée</option>
                                </select>
                              </div>
                          </div>
                        </div>
                    </div>

                  </div>
                    <div class="hr-line-dashed"></div>

                  <div class="form-group">
                      <div class="col-sm-4 col-sm-offset-4">
                          <input class="btn btn-white" type="button" ng-click="reset()" value="Reset" style="width: 45%;"/>
                          <button button-spinner="loading" ng-disabled="loading" spinning-icon="fa fa-circle-o-notch fa-spin" data-style="expand-right" class="btn btn-primary" type="submit" ng-click="add(donnee)" style="width: 45%;">Sauvegarder</button>
                      </div>
                  </div>

                </form>
              </div>
          </div>
      </div>
  </div>
</div>