<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Liste des [[ nomDonnee ]]s</h5>

                  <div class="ibox-tools">
                      <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content"  uib-collapse="isCollapsed">
			  
                <table ng-table="donneesTable" class="table table-condensed table-bordered table-striped" show-filter="true">

                  <tr ng-repeat="donnee in $data track by $index">
                      <td data-title="'Nom'" sortable="'nom'" filter="{ 'nom': 'text' }">[[ donnee.nom ]]</td>
                      <td ng-if="type == 1" data-title="'Niveau'" sortable="'type'" filter="{ 'type': 'text' }">[[ donnee.type ]]</td>
                      <td data-title="'Actions'">
                          <a ng-href="donnee/editer/[[ type ]]/[[ donnee.id ]]">Edit</a>
                          | <a button-spinner="loading" ng-disabled="loading" spinning-icon="fa fa-circle-o-notch fa-spin" data-style="expand-right" ng-click="remove($index, type, donnee)">Supprimer</a>
                      </td>
                  </tr>

                </table>

                <div style="text-align:center;">
                  <a class="btn btn-primary" ng-href="donnee/ajouter/[[ type ]]">Ajouter un [[ nomDonnee ]]</a>
                </div>

              </div>
          </div>
      </div>
    </div>
</div>