<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5 ng-if="titre">[[ titre ]]</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                          <i class="fa fa-chevron-up"></i>
                      </a>

                  </div>
              </div>
              <div class="ibox-content" uib-collapse="isCollapsed">
                <form id="form-add-intervenant" class="form-horizontal" name="myForm" j-validate>

                    <fieldset style="padding: .35em .625em .75em;margin: 0 2px;border: 1px solid silver;">
                      <legend style="padding: 0;margin-bottom: 20px;font-size: 21px;color: #333;border: 0;width:initial;">Informations personnelles</legend>
                      <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Nom*</label>
                              <div class="col-sm-9">
                                <input class="form-control" name="nom" type="text" required ng-model="intervenant.nom"/>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Prenom*</label>
                              <div class="col-sm-9">
                                <input type="text" id="prenom" name="prenom" required="required" class="form-control" ng-model="intervenant.prenom">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Sexe</label>
                              <div class="col-sm-9">
                                <select required="required" class="form-control" name="sexe" ng-model="intervenant.sexe">
                                  <option value="homme">Homme</option>
                                  <option value="femme">Femme</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Date de Naissance</label>
                              <div class="col-sm-9">
                                <input class="form-control" name="nom" type="text" required="required" ng-model="intervenant.dateNaissance"/>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Téléphone</label>
                              <div class="col-sm-9">
                                <input type="text" id="prenom" name="prenom" required="required" class="form-control" ng-model="intervenant.telephone">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label">E-mail</label>
                              <div class="col-sm-9">
                                <input type="email" id="prenom" name="prenom" required="required" class="form-control" ng-model="intervenant.mail">
                              </div>
                            </div>
                          </div>
                      </div>
                    </fieldset>

                    <!-- <fieldset style="padding: .35em .625em .75em;margin: 0 2px;border: 1px solid silver;">
                      <legend style="padding: 0;margin-bottom: 20px;font-size: 21px;color: #333;border: 0;width:initial;">Scolarité</legend>
                      <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Etablissement</label>
                              <div class="col-sm-9">
                                <input class="form-control" name="nom" type="text" required="required" ng-model="intervenant.nom"/>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Classe</label>
                              <div class="col-sm-9">
                                <input type="text" id="prenom" name="prenom" required="required" class="form-control" ng-model="intervenant.prenom">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Filière</label>
                              <div class="col-sm-9">
                                <select required="required" class="form-control" name="sexe" ng-model="intervenant.sexe">
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Lv1</label>
                              <div class="col-sm-9">
                                <input class="form-control" name="nom" type="text" required="required" ng-model="intervenant.dateNaissance"/>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Lv2</label>
                              <div class="col-sm-9">
                                <input type="text" id="prenom" name="prenom" required="required" class="form-control" ng-model="intervenant.telephone">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Professeur principal</label>
                              <div class="col-sm-9">
                                <input type="text" id="prenom" name="prenom" required="required" class="form-control" ng-model="intervenant.mail">
                              </div>
                            </div>
                          </div>

                      </div>
                    </fieldset> -->

                  <div class="hr-line-dashed"></div>
                  <div class="form-group">
                      <div class="col-sm-4 col-sm-offset-4">
                          <input class="btn btn-white" type="button" ng-click="reset(intervenant.id)" value="Effacer les champs" style="width: 45%;"/>
                          <button button-spinner="loading" ng-disabled="loading" spinning-icon="fa fa-circle-o-notch fa-spin" data-style="expand-right" class="btn btn-primary" type="submit" ng-click="add(intervenant)" style="width: 45%;">Sauvegarder</button>
                      </div>
                  </div>

                </form>
              </div>
          </div>
      </div>
  </div>
</div>