<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                          <h5>Statistiques des eleves</h5>

                          <div class="ibox-tools">
                              <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                                  <i class="fa fa-chevron-up"></i>
                              </a>
                          </div>
                        </div>

                        <div class="ibox-content" uib-collapse="isCollapsed">
                            <canvas id="chartElevesSexes" width="400" height="400"></canvas>
                            <canvas id="chartElevesNaissances" width="400" height="400"></canvas>
                            <canvas id="chartElevesTelephones" width="400" height="400"></canvas>
                            <canvas id="chartElevesMails" width="400" height="400"></canvas>
                            <canvas id="chartElevesSeances" width="400" height="400"></canvas>
                            <canvas id="chartElevesIncriptions" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Statistiques des intervenants</h5>

                            <div class="ibox-tools">
                                <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>

                        <div class="ibox-content" uib-collapse="isCollapsed">
                            <canvas id="chartIntervenantsSexes" width="400" height="400"></canvas>
                            <canvas id="chartIntervenantsNaissances" width="400" height="400"></canvas>
                            <canvas id="chartIntervenantsTelephones" width="400" height="400"></canvas>
                            <canvas id="chartIntervenantsMails" width="400" height="400"></canvas>
                            <canvas id="chartIntervenantsSeances" width="400" height="400"></canvas>
                            <canvas id="chartIntervenantsIncriptions" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Statistiques des etablissements</h5>

                            <div class="ibox-tools">
                                <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>

                        <div class="ibox-content" uib-collapse="isCollapsed">
                            <canvas id="chartEtablissementsTypes" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Statistiques des evenements</h5>

                            <div class="ibox-tools">
                                <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>

                        <div class="ibox-content" uib-collapse="isCollapsed">
                            <canvas id="chartEvenementsDatesDebut" width="400" height="400"></canvas>
                            <canvas id="chartEvenementsDatesFin" width="400" height="400"></canvas>
                            <canvas id="chartEvenementsDurees" width="400" height="400"></canvas>
                            <canvas id="chartEvenementsStatuts" width="400" height="400"></canvas>
                            <canvas id="chartEvenementsListes" width="400" height="400"></canvas>
                            <canvas id="chartEvenementsEleves" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Statistiques des seances</h5>

                            <div class="ibox-tools">
                                <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>

                        <div class="ibox-content" uib-collapse="isCollapsed">
                            <canvas id="chartSeancesDatesDebut" width="400" height="400"></canvas>
                            <canvas id="chartSeancesDatesFin" width="400" height="400"></canvas>
                            <canvas id="chartSeancesDurees" width="400" height="400"></canvas>
                            <canvas id="chartSeancesStatuts" width="400" height="400"></canvas>
                            <canvas id="chartSeancesEleves" width="400" height="400"></canvas>
                            <canvas id="chartSeancesIntervenants" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div>
</div>