<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <base href="/admin/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} ADMIN{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet">
        <link href="{{asset('css/animate.css')}}" rel="stylesheet">
        <link href="{{asset('css/style.css')}}" rel="stylesheet">
        <link href="{{asset('css/fullcalendar.css')}}" rel="stylesheet">
        <link href="{{asset('angular/css/angular-confirm.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('angular/css/nv.d3.css')}}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.css">
        <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon/favicon.ico') }}" />

        <style>
            .navbar-search{
                margin-top:8px;
                margin-left:10px;
                margin-bottom:0px;
            }

            #livesearch{
                position:absolute;
                width:auto;
                background-color: #FFFFFF;
                display:inline;
                white-space: nowrap;
                overflow:hidden;
                font-size: 14px;
                padding-left: 6px;
                padding-right:6px;
                padding-bottom:3px;
                font-weight: 600;
                z-index: 200;
            }

            #livesearch a{
                color:#000000;
            }

            #livesearch a:hover{
                color:#1ab394;
            }


            @media (min-width: 768px){
                .navbar-nav {
                    width: 50%;
                }
            }

        </style>
    {% endblock %}

</head>

<body class="top-navigation">

<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <a href="/admin" class="navbar-brand">Très d'Union</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li style="width:25%;">
                            <form role="search" class="navbar-search">
                                <div class="form-group aa" style="margin-bottom:0px;width:100%;margin-right:10px;">
                                    <input autocomplete="off" type="text" placeholder="Rechercher ..." class="form-control" name="top-search" id="top-search">
                                    <div id="livesearch"></div>
                                </div>
                            </form>
                        </li>
                        <li class="dropdown">
                            <a href="eleve/liste" aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Eleves </a>
                        </li>
                        <li class="dropdown">
                            <a href="intervenant/liste" aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Intervenants </a>
                        </li>
                        <li class="dropdown">
                            <a href="evenement/liste" aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Evènements </a>
                        </li>
                        <li class="dropdown">
                            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Données <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="donnee/voir/1">Etablissements</a></li>
                                <li><a href="donnee/voir/2">Niveaux Scolaires</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="planning" aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Planning </a>
                        </li>
                        <!-- <li class="dropdown">
                            <a href="statistiques/voir" aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Statistiques </a>
                        </li> -->

                    </ul>

                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a class="btn-deco">
                                <i class="fa fa-sign-out"></i> Se déconnecter
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 20px;">
            <div class="col-lg-10">
                <h2>[[breadcrumbTitle]]</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="home">Accueil</a>
                    </li>
                    <li ng-if="breadcrumb == 'eleves'">
                        <a href="eleve/liste">Elèves</a>
                    </li>
                    <li ng-if="breadcrumb == 'intervenants'">
                        <a href="intervenant/liste">Intervenants</a>
                    </li>
                    <li ng-if="breadcrumb == 'etablissement'">
                        <a href="donnee/voir/1">Etablissements</a>
                    </li>
                    <li ng-if="breadcrumb == 'niveauScolaire'">
                        <a href="donnee/voir/2">Niveaux Scolaires</a>
                    </li>
                    <li ng-if="breadcrumb == 'evenement'">
                        <a href="evenement/liste">Evènements</a>
                    </li>
                    <li ng-if="breadcrumb == 'statistiques'">
                        <a href="statistiques/voir">Statistiques</a>
                    </li>
                    <li ng-if="breadcrumbActive != null " class="active">
                        <strong>[[breadcrumbActive]]</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        {% if app.session.flashbag.peekAll|length > 0 %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="col-md-4 col-md-offset-4">
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-top:20px;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {#% block content %}
        {% endblock %#}
        
        <p class="text-center" ng-hide="dataLoaded" style="font-size:40px;margin-top:40px;">
          Chargement<br />
		  <i class="fa fa-spinner fa-spin"></i>
	    </p>

        <div ng-show="dataLoaded" ng-view></div>

        <div class="footer">
            <div class="pull-right">
                Dahbi Jordan
            </div>
            <div>
                <strong>Copyright</strong> Très d'Union &copy; 2018
            </div>
        </div>

    </div>
</div>



{% block javascripts %}
    <!-- Mainly scripts -->
    <meta charset="utf-8">

    <script src="{{asset('js/jquery-2.1.1.js')}}"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/plugins/metisMenu/jquery.metisMenu.js')}}"></script>
    <script src="{{asset('js/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>
    <script src="{{asset('js/plugins/validate/jquery.validate.min.js')}}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{asset('js/inspinia.js')}}"></script>
    <script src="{{asset('js/plugins/pace/pace.min.js')}}"></script>
    <script src="{{asset('js/Chart.bundle.min.js')}}"></script>

    <!-- Main Angular scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

    <script src="{{asset('angular/plugins/angular-route.js')}}"></script>
    <script src="{{asset('angular/plugins/ui-bootstrap.min.js')}}"></script>
    <script src="{{asset('angular/plugins/angular-animate.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.tpls.js"></script>
    <script src="{{asset('angular/plugins/angular-button-spinner.min.js')}}"></script>
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    <script src="{{asset('angular/plugins/angular-confirm.min.js')}}"></script>
    <script src="{{asset('angular/plugins/moment.js')}}"></script>
    <script src="{{asset('angular/plugins/angular-moment.min.js')}}"></script>
    <script src="{{asset('angular/plugins/d3.js')}}"></script>
    <script src="{{asset('angular/plugins/nv.d3.js')}}"></script>
    <script src="{{asset('angular/plugins/angular-nvd3.min.js')}}"></script>

    <script src="{{asset('angular/app.js')}}"></script>
    <script src="{{asset('angular/routing.js')}}"></script>
    <script src="{{asset('angular/controllers/homeController.js')}}"></script>
    <script src="{{asset('angular/controllers/eleveController.js')}}"></script>
    <script src="{{asset('angular/controllers/intervenantController.js')}}"></script>
    <script src="{{asset('angular/controllers/donneeController.js')}}"></script>
    <script src="{{asset('angular/controllers/evenementController.js')}}"></script>
    <script src="{{asset('angular/controllers/statistiquesController.js')}}"></script>
    <script src="{{asset('angular/controllers/planningController.js')}}"></script>

    <script src="{{asset('angular/plugins/calendar.js')}}"></script>
    <script src="{{asset('js/fullcalendar.min.js')}}"></script>
    <script src="{{asset('js/lang-all.js')}}"></script>
    <script src="{{asset('js/gcal.js')}}"></script>

    <script>
        myApp.factory('Api', [
            '$http',
            function ($http) {

                function getAllEleves(params) {
                    return $http({
                        url : "{{path('get_eleves')}}",
                        method: "GET",
                        params: params
                    });
                }

                function getEleve(eleveId) {
                    var url = "{{path('get_eleve', {'eleveId' : 'eleveId'} )}}";
                    url = url.replace('eleveId', eleveId);
                    return $http({
                        url : url,
                        method: "GET"
                    });
                }

                function postEleve(eleve) {
                    return $http.post("{{path('add_eleve')}}", eleve);
                }

                function removeEleve(eleve) {
                    path = "{{path('remove_eleve', {'eleveId' : 'eleveId'} )}}";
                    path = path.replace('eleveId', eleve.id);
                    return $http.delete(path);
                }

                function updateEleve(eleve) {
                    path = "{{path('update_eleve', {'eleveId' : 'eleveId'} )}}";
                    path = path.replace('eleveId', eleve.id);
                    return $http.put(path, eleve);
                }

                function getAllIntervenants(params) {
                    return $http({
                        url : "{{path('get_intervenants')}}",
                        method: "GET",
                        params: params
                    });
                }

                function getIntervenant(intervenantId) {
                    var url = "{{path('get_intervenant', {'intervenantId' : 'intervenantId'} )}}";
                    url = url.replace('intervenantId', intervenantId);
                    return $http({
                        url : url,
                        method: "GET"
                    });
                }

                function postIntervenant(intervenant) {
                    return $http.post("{{path('add_intervenant')}}", intervenant);
                }

                function removeIntervenant(intervenant) {
                    path = "{{path('remove_intervenant', {'intervenantId' : 'intervenantId'} )}}";
                    path = path.replace('intervenantId', intervenant.id);
                    return $http.delete(path);
                }

                function updateIntervenant(intervenant) {
                    path = "{{path('update_intervenant', {'intervenantId' : 'intervenantId'} )}}";
                    path = path.replace('intervenantId', intervenant.id);
                    return $http.put(path, intervenant);
                }

                function getAllDonnees(params, type) {
                    url = "{{path('get_donnees', { type : 'type'})}}"
                    url = url.replace('type', type);
                    return $http({
                        url : url,
                        method: "GET",
                        params: params
                    });
                }

                function removeDonnee(type, donnee) {
                    url = "{{path('remove_donnee', { type : 'type', donneeId : 'donneeId'})}}"
                    url = url.replace('type', type);
                    url = url.replace('donneeId', donnee.id);
                    return $http.delete(url);
                }

                function addDonnee(type, donnee) {
                    url = "{{path('add_donnee', { type : 'type' })}}"
                    url = url.replace('type', type);
                    return $http.post(url, donnee);
                }

                function addDonnees(type, donnees) {
                    url = "{{path('add_donnees', { type : 'type' })}}"
                    url = url.replace('type', type);
                    return $http.post(url, donnees);
                }

                function getAllEvents(params) {
                    return $http({
                        url : "{{path('get_events')}}",
                        method: "GET",
                        params: params
                    });
                }

                function getDonnee(type, donneeId) {
                    var url = "{{path('get_donnee', {'donneeId' : 'donneeId', 'type' : 'type'} )}}";
                    url = url.replace('donneeId', donneeId);
                    url = url.replace('type', type);
                    return $http({
                        url : url,
                        method: "GET"
                    });
                }

                function updateDonnee(type, donnee) {
                    path = "{{path('update_donnee', {'donneeId' : 'donneeId', 'type' : 'type'} )}}";
                    path = path.replace('donneeId', donnee.id);
                    path = path.replace('type', type);
                    return $http.put(path, donnee);
                }

                function getEtablissements() {
                    url = "{{path('get_etablissements_public', { type : 1})}}"
                    return $http({
                        url : url,
                        method: "GET"
                    });
                }

                function getAllEvenements(params) {
                    return $http({
                        url : "{{path('get_evenements')}}",
                        method: "GET",
                        params: params
                    });
                }

                function removeEvenement(evenement) {
                    path = "{{path('remove_evenement', {'evenementId' : 'evenementId'} )}}";
                    path = path.replace('evenementId', evenement.id);
                    return $http.delete(path);
                }

                function postEvenement(evenement) {
                    return $http.post("{{path('add_evenement')}}", evenement);
                }

                function getEvenement(evenementId) {
                    var url = "{{path('get_evenement', {'evenementId' : 'evenementId'} )}}";
                    url = url.replace('evenementId', evenementId);
                    return $http({
                        url : url,
                        method: "GET"
                    });
                }

                function updateEvenement(evenement) {
                    path = "{{path('update_evenement', {'evenementId' : 'evenementId'} )}}";
                    path = path.replace('evenementId', evenement.id);
                    return $http.put(path, evenement);
                }

                function getRepartitionHommeFemme(evenementId) {
                    var url = "{{path('repartition_homme_femme', {'evenementId' : 'evenementId'} )}}";
                    url = url.replace('evenementId', evenementId);
                    return $http({
                        url : url,
                        method: "GET"
                    });
                }

                function getRepartitionAge(evenementId){
                    var url = "{{path('repartition_age_evenement', {'evenementId' : 'evenementId'} )}}";
                    url = url.replace('evenementId', evenementId);
                    return $http({
                        url : url,
                        method: "GET"
                    });
                }

                function getRepartitionEtablissement(evenementId){
                    var url = "{{path('repartition_etablissement_evenement', {'evenementId' : 'evenementId'} )}}";
                    url = url.replace('evenementId', evenementId);
                    return $http({
                        url : url,
                        method: "GET"
                    });
                }

                function getRepartitionNiveauScolaire(evenementId) {
                    var url = "{{ path('repartition_niveau_scolaire_evenement', {'evenementId' : 'evenementId'} ) }}";
                    url = url.replace('evenementId', evenementId);
                    return $http({
                        url: url,
                        method: "GET"
                    });
                }

                function getAllStatistiques(){
                    return $http({
                        url : "{{path('get_statistiques')}}",
                        method: "GET"
                    });
                }

                return {
                    getAllEleves: getAllEleves,
                    postEleve: postEleve,
                    removeEleve: removeEleve,
                    updateEleve: updateEleve,
                    getEleve: getEleve,
                    getAllIntervenants: getAllIntervenants,
                    postIntervenant: postIntervenant,
                    removeIntervenant: removeIntervenant,
                    updateIntervenant: updateIntervenant,
                    getIntervenant: getIntervenant,
                    getAllDonnees: getAllDonnees,
                    removeDonnee: removeDonnee,
                    addDonnee : addDonnee,
                    getAllEvents: getAllEvents,
                    getDonnee: getDonnee,
                    updateDonnee: updateDonnee,
                    addDonnees : addDonnees,
                    getEtablissements: getEtablissements,
                    getAllEvenements: getAllEvenements,
                    getEvenement: getEvenement,
                    updateEvenement: updateEvenement,
                    removeEvenement: removeEvenement,
                    postEvenement: postEvenement,
                    getRepartitionHommeFemme: getRepartitionHommeFemme,
                    getRepartitionAge: getRepartitionAge,
                    getRepartitionEtablissement: getRepartitionEtablissement,
                    getRepartitionNiveauScolaire: getRepartitionNiveauScolaire,
                    getAllStatistiques: getAllStatistiques
                }

            }
        ]);

    </script>
    <script>

        $(document).ready(function() {
            $("#livesearch").css({
                'width': ($(".aa").width() + 'px')
            });
        });
        var timer;
        var timeout = 500;

        $('.btn-deco').on('click',function(){
            location.href = "{{path('fos_user_security_logout')}}";
        });

        $('#top-search').keyup(function(){
            $('#livesearch').show();
            clearTimeout(timer);
            if ($('#top-search').val) {
                timer = setTimeout(function(){
                    //do stuff here e.g ajax call etc....
                    search_navbar($('#top-search').val());
                }, timeout);
            }
        });

        $('#top-search').keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
            }
        });

        function search_navbar(value){
            if (value.length==0) {
                document.getElementById("livesearch").innerHTML="";
                document.getElementById("livesearch").style.border="0px";
                return;
            }
            if (value.length<2) {
                document.getElementById("livesearch").innerHTML="2 caractères minimum";
                document.getElementById("livesearch").style.border="1px solid #A5ACB2";
                return;
            }
            else{
                document.getElementById("livesearch").innerHTML="Recherche en cours ....";
                document.getElementById("livesearch").style.border="1px solid #A5ACB2";
                $.ajax({
                    url: "{{ path('admin_search')}}",
                    method:"post",
                    data: {value_send:value}
                }).done(function(res){
                    eleves = res.eleves;
                    intervenants = res.intervenants;
                    evenements = res.evenements;

                    if(eleves.length==0 && intervenants.length==0 && evenements.length == 0){
                        document.getElementById("livesearch").innerHTML="Aucun résultat";
                        document.getElementById("livesearch").style.border="1px solid #A5ACB2";
                    }
                    else {
                        if(eleves.length>0){
                            var html='';
                            for (index = 0; index < eleves.length; ++index) {
                                var ligne = "<a href='eleve/editer/"+eleves[index].id+"'><span style='display:inline-block; width:40px' class='badge badge-warning'>"+"Elève"+"</span> "+eleves[index].nom+" "+eleves[index].prenom+"</a>";
                                ligne=ligne.replace("id",eleves[index].id);
                                html+=ligne;
                                html+="<br/>";
                            }
                            document.getElementById("livesearch").innerHTML=html;
                        }

                        if(intervenants.length>0){
                            var html='';
                            for (index = 0; index < intervenants.length; ++index) {
                                var ligne = "<a href='intervenant/editer/"+intervenants[index].id+"'><span style='display:inline-block;' class='badge badge-primary'>"+"Intervenant"+"</span> "+intervenants[index].nom+" "+intervenants[index].prenom+"</a>";
                                html+=ligne;
                                html+="<br/>";
                            }

                            if(eleves.length>0){
                                document.getElementById("livesearch").innerHTML=document.getElementById("livesearch").innerHTML +"<br>"+ html;
                            }
                            else{
                                document.getElementById("livesearch").innerHTML=html;
                            }
                            document.getElementById("livesearch").style.border="1px solid #A5ACB2";
                        }

                        if(evenements.length>0){
                            var html='';
                            for (index = 0; index < evenements.length; ++index) {
                                var ligne = "<a href='evenement/details/"+evenements[index].id+"'><span style='display:inline-block;' class='badge badge-danger'>"+"Evènement"+"</span> "+evenements[index].libelle+"</a>";
                                html+=ligne;
                                html+="<br/>";
                            }

                            if(eleves.length>0 || intervenants.length > 0){
                                document.getElementById("livesearch").innerHTML=document.getElementById("livesearch").innerHTML +"<br>"+ html;
                            }
                            else{
                                document.getElementById("livesearch").innerHTML=html;
                            }
                            document.getElementById("livesearch").style.border="1px solid #A5ACB2";
                        }
                    }
                    
                    document.getElementById("livesearch").style.border="1px solid #A5ACB2";

                });
            }
        }

        $(document.body).on('click', '#livesearch a', function() {
            $('#livesearch').hide();
        });

        $('#top-search').on('click',function(){
            $('#livesearch').show();
        });

        $(document).on('click', function (e) {
            if ($(e.target).closest("#livesearch").length === 0 && $(e.target).closest("#top-search").length === 0 ) {
                $('#livesearch').hide();
            }
        });


    </script>

{% endblock %}


</body>

</html>
