<div class="wrapper wrapper-content" ng-controller="homeController">
    <div class="row animated fadeInDown">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Liste des évènements</h5>

                  <div class="ibox-tools">
                      <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content"  uib-collapse="isCollapsed">

                <table ng-table="eventsTable" class="table table-condensed table-bordered table-striped" show-filter="true">

                  <tr ng-repeat="event in $data track by $index">
                    [[event]]
                      <td data-title="'Date'">[[ event.created | date:"dd/MM/yyyy HH:mm" ]]</td>
                      <td data-title="'Information'">[[ event.text ]]</td>
                  </tr>

                </table>

              </div>
          </div>
      </div>
    </div>
</div>