<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5 ng-if="titre">[[ titre ]]</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                          <i class="fa fa-chevron-up"></i>
                      </a>

                  </div>
              </div>
              <div class="ibox-content" uib-collapse="isCollapsed">
                <form id="form-add-evenement" class="form-horizontal" name="myForm" j-validate>

                    <fieldset style="padding: .35em .625em .75em;margin: 0 2px;border: 1px solid silver;">
                      <legend style="padding: 0;margin-bottom: 20px;font-size: 21px;color: #333;border: 0;width:initial;">&Eacute;v&egrave;nement</legend>
                      <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Libell&eacute;*</label>
                              <div class="col-sm-9">
                                <input class="form-control" name="libelle" type="text" required="required" ng-model="evenement.libelle"/>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Date de d&eacute;but*</label>
                              <div class="col-sm-9">
                                <input type="date" id="dateDebut" name="dateDebut" required="required" class="form-control" ng-model="evenement.dateDebut">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label">Date de fin*</label>
                              <div class="col-sm-9">
                                <input class="form-control" name="dateFin" type="date" required="required" ng-model="evenement.dateFin"/>
                              </div>
                            </div>
                          </div>
                      </div>
                    </fieldset>

                  <div class="hr-line-dashed"></div>
                  <div class="form-group">
                      <div class="col-sm-4 col-sm-offset-4">
                          <input class="btn btn-white" type="button" ng-click="reset(evenement.id)" value="Effacer les champs" style="width: 45%;"/>
                          <button
	                          button-spinner="loading"
	                          ng-disabled="loading"
	                          spinning-icon="fa fa-circle-o-notch fa-spin"
	                          data-style="expand-right"
	                          class="btn btn-primary"
	                          type="submit"
	                          ng-click="add(evenement)" style="width: 45%;">Sauvegarder</button>
                      </div>
                  </div>

                </form>
              </div>
          </div>
      </div>
  </div>
</div>