<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
      <div class="col-lg-12">

          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Liste des évènements</h5>

                  <div class="ibox-tools">
                      <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content" uib-collapse="isCollapsed">
              
                <table ng-table="evenementsTable" class="table table-condensed table-bordered table-striped" show-filter="true">

                  <tr ng-repeat="evenement in $data track by $index" style="text-align: center;">
                      <td data-title="'Statut'">
                        <div ng-if="getStatutEvenement(evenement) == 1">
                          <span class="label label-warning">a venir</span>
                        </div>
                        <div ng-if="getStatutEvenement(evenement) == 2">
                          <span class="label label-success">en cours</span>
                        </div>
                        <div ng-if="getStatutEvenement(evenement) == 3">
                          <span class="label label-danger">termine</span>
                        </div>
                      </td>
                      <td data-title="'Libelle'" sortable="'Libelle'" filter="{ 'libelle': 'text' }">[[ evenement.libelle ]]</td>
                      <td data-title="'Nombre inscrits'" sortable="'nbInscrits'">[[ evenement.inscriptions_eleve.length ]]</td>
                      <td data-title="'Date de debut'" sortable="'dateDebut'">[[ evenement.date_debut | date:'dd/MM/yyyy' ]]</td>
                      <td data-title="'Date de fin'" sortable="'dateFin'">[[ evenement.date_fin | date:'dd/MM/yyyy' ]]</td>
                      <td data-title="'Actions'">
                        <a ng-href="evenement/details/[[ evenement.id ]]">Détails</a>
                        |
                        <a ng-href="evenement/stats/[[ evenement.id ]]">Stats</a>
                        <div ng-if="getStatutEvenement(evenement) == 1">
                          <a ng-href="evenement/editer/[[ evenement.id ]]">Edit</a>
                          | <a ng-if="getStatutEvenement(evenement) == 1" button-spinner="loading" ng-disabled="loading" spinning-icon="fa fa-circle-o-notch fa-spin" data-style="expand-right" ng-click="remove($index, evenement)">Supprimer</a>
                        </div>
                        <div ng-if="getStatutEvenement(evenement) == 2">
                          <a ng-href="evenement/editer/[[ evenement.id ]]">Edit</a>
                        </div>
                      </td>
                  </tr>

                </table>

                <div style="text-align:center;">
                  <a class="btn btn-primary" ng-href="evenement/ajouter">Ajouter un évènement</a>
                </div>

              </div>
          </div>

      </div>
    </div>
</div>