<p class="text-center" ng-hide="dataLoaded2" style="font-size:40px;margin-top:40px;">
    Chargement<br />
<i class="fa fa-spinner fa-spin"></i>
</p>

<div ng-if="dataLoaded2">
  <div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
      <div class="col-lg-12">
        <div class="row">
          
          <div class="col-sm-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Répartition par genre</h5>
                <div class="ibox-tools">
                    <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                <div class="ibox-content" uib-collapse="isCollapsed">
                  <nvd3 options='options1' data='data1'></nvd3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Répartition par age</h5>
                <div class="ibox-tools">
                    <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                <div class="ibox-content" uib-collapse="isCollapsed">
                  <nvd3 options='options2' data='data2'></nvd3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Répartition par établissement</h5>
                <div class="ibox-tools">
                    <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                <div class="ibox-content" uib-collapse="isCollapsed">
                  <nvd3 options='options1' data='data3'></nvd3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Répartition par niveau scolaire</h5>
                <div class="ibox-tools">
                    <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                <div class="ibox-content" uib-collapse="isCollapsed">
                  <nvd3 options='options1' data='data4'></nvd3>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>