{% extends "UserBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
  | Register
{% endblock %}

{% block content %}
  <div>
    <div>

        <h1 class="logo-name">IN+</h1>

    </div>

    {% if error is defined %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h3>Register to IN+</h3>
    <p>Create account to see it in action.</p>
    {% block fos_user_content %}
      <form id="form-registration" method="post" class="m-t" role="form" action="{{ path("fos_user_registration_register") }}">
          <div class="form-group">
              {{form_widget(form.email,{'attr':{'class':'form-control','placeholder':'Email'}})}}
              {{ form_errors(form.email) }}
          </div>
          <div class="form-group">
              {{form_widget(form.plainPassword.first,{'attr':{'class':'form-control','placeholder':'Mot de Passe'}})}}
              {{ form_errors(form.plainPassword.first) }}
          </div>
          <div class="form-group">
              {{form_widget(form.plainPassword.second,{'attr':{'class':'form-control','placeholder':'Confirmer votre mot de passe'}})}}
              {{ form_errors(form.plainPassword.second) }}
          </div>
          {{ form_rest(form) }}
          <button type="submit" class="btn btn-primary block full-width m-b">Valider</button>

          <p class="text-muted text-center"><small>Already have an account?</small></p>
          <a class="btn btn-sm btn-white btn-block" href="{{path('fos_user_security_login')}}">Login</a>
      </form>


    {% endblock fos_user_content %}

    {% block form_errors %}
      {% spaceless %}
        {% if errors is defined and errors|length > 0 %}
            {% for error in errors %}
                <span class="form-error">{{ error.message }}</span>
            {% endfor %}
        {% endif %}
      {% endspaceless %}
    {% endblock form_errors %}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent()}}
  <script src="{{asset('js/plugins/validate/jquery.validate.min.js')}}"></script>
  <script>
    $( document ).ready(function() {
      console.log( "ready!" );
      $('#form-registration').validate();
    });
  </script>

{% endblock %}
