<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Planning</h5>

                  <div class="ibox-tools">
                      <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content"  uib-collapse="isCollapsed">

                <div ui-calendar="uiConfig.calendar" ng-model="eventSources" ng-if="eventSources.length > 0" calendar="calendar"></div>

              </div>
          </div>
      </div>
    </div>
</div>