<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Très d'Union{% endblock%}</title>

    {% block stylesheets %}
      <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
      <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet">

      <link href="{{asset('css/animate.css')}}" rel="stylesheet">
      <link href="{{asset('css/style.css')}}" rel="stylesheet">
      <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon/favicon.ico') }}" />
     
    {% endblock %}


</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
      <div>
        <img class="logo" src="{{asset('img/logo.png')}}">
      </div>
        {% block content %}
          {% block fos_user_content %}
          {% trans_default_domain 'FOSUserBundle' %}
          {% endblock fos_user_content %}
        {% endblock %}

        <p class="m-t"> <small>Très d'Union &copy; 2016</small> </p>


    </div>

    {% block javascripts %}
      <!-- Mainly scripts -->
      <script src="{{asset('js/jquery-2.1.1.js')}}"></script>
      <script src="{{asset('js/bootstrap.min.js')}}"></script>

    {% endblock %}

</body>

</html>
