{% extends "UserBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
  | Connexion
{% endblock %}

{% block stylesheets %}
  {{parent()}}
  <style>
  .logo{
    margin-top:50px;
  }
  </style>

{% endblock %}

{% block content %}
  <div>

    {% if app.request.hasPreviousSession %}
      {% for type, messages in app.session.flashbag.all() %}
          {% for message in messages %}
              <div class="alert alert-{{type}} alert-dismissible" role="alert" style="margin-top:10px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
              </div>
          {% endfor %}
      {% endfor %}
  {% endif %}

    {% block fos_user_content %}
      {% if error is defined %}
        {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:10px;">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="sr-only">Error:</span>
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}
      {% endif %}

      <div style="margin-top:20px;">


      <form id="form-login" action="{{ path("fos_user_security_check") }}" method="post">
          <div class="form-group">
              <input type="email"  id="username" name="_username" {% if last_username is defined %}value="{{ last_username }}"{% endif %} class="form-control" placeholder="Email" required="required">
          </div>
          <div class="form-group">
              <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de Passe" required="required">
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
          <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary block full-width m-b">Connexion</button>

          <a href="{{path('fos_user_resetting_request')}}"><small>Mot de passe oubli&eacute; ?</a>
          <!-- <p class="text-muted text-center"><small>Do not have an account?</small></p>
          <a class="btn btn-sm btn-white btn-block" href="{{path('fos_user_registration_register')}}">Create an account</a> -->
      </form>
    </div>
    {% endblock %}

  </div>
{% endblock %}

{% block javascripts %}
  {{ parent()}}
  <script src="{{asset('js/plugins/validate/jquery.validate.min.js')}}"></script>
  <script>
    $( document ).ready(function() {
      console.log( "ready!" );
      $('#form-login').validate({
        rules: {
          _password:{
            required: true,
            minlength:6
          },
          _username: {
            required: true,
            email: true
          }
        },
        messages: {
          _password: {
            required: "Entrez un mot de passe",
            minlength: "Votre mot de passe doit contenir 6 caract&egrave;res"
          } ,
          _username: {
            required: "Entrez un email",
            email: "V&eacute;rifiez le format de l'email (name@domain.com)"
          }
        }
      });
    });
  </script>

{% endblock %}
